<H1 style="color:#64ff33; font-size:34px;background:#222 ; border-radius:15px ; text-align:center ;padding:20px"> Grouping and Aggregating</H1>

In [3]:
import pandas as pd

In [4]:
# Create a sample series
numbers = pd.Series([1, 2, 3,4, 4, 100,100])

In [5]:
print( numbers.mean() )

30.571428571428573

In [6]:
print(numbers.median() )

4.0

In [7]:
print(numbers.mode() )

0      4
1    100
dtype: int64

In [8]:
print(numbers.count() )

7

In [9]:
print(numbers.value_counts() )

4      2
100    2
1      1
2      1
3      1
Name: count, dtype: int64

In [10]:
print(numbers.value_counts(normalize=True) )

4      0.285714
100    0.285714
1      0.142857
2      0.142857
3      0.142857
Name: proportion, dtype: float64

In [12]:
popu_df=pd.read_csv('/home/geek/Desktop/DE/data/world_population.csv')
popu_df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [24]:
popu_df.groupby(by='Continent').max()

,Rank,CCA3,Country,Capital,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Continent,,,,,,,,,,,,,,,,
Africa,196,ZWE,Zimbabwe,Yaounde,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,2381741.0,871.9278,1.0378,2.74
Asia,175,YEM,Yemen,Yerevan,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,23172.2667,1.0376,17.88
Europe,234,VAT,Vatican City,Zagreb,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,18234.5000,1.0691,1.81
North America,230,VIR,United States Virgin Islands,Willemstad,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9984670.0,1299.2647,1.0150,4.24
Oceania,233,WSM,Wallis and Futuna,Yaren,2.617741e+07,2.567005e+07,2.382024e+07,2.201917e+07,1.901796e+07,1.704800e+07,14706322.0,12595034.0,7692024.0,603.2381,1.0238,0.33
South America,231,VEN,Venezuela,Sucre,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,65.0229,1.0239,2.70